@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323B54;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #121829;
    background-image: url("assets/images/Background.svg");
    background-size: 100%;
    background-position: 50% -160px;
    background-repeat: repeat-y;

    /* Typography */
    font-size: 16px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    color: #A8AEBF;
}


